@charset "utf-8";
.slelectList{padding:3px;}
.slelectList:after{content:"";display:block;clear:both;}
.slelectList li{width:49.6%;float:left;}
.slelectList li:first-child{margin-right:0.8%;}

.videoArea img{width:100%;vertical-align:top;}
.mediaInfo{max-width:612px;height:68px;padding:0 14px;background:#000;line-height:1.4em;}
.mediaInfo em{display:block;padding-top:16px;color:#fff;font-size:15px;}
.mediaInfo p{color:#999;font-size:12px;}
.mediaInfo p span{display:inline-block;}
.mediaInfo p span:first-child{margin-right:10px;}
.mediaInfo.fix{position:fixed;left:0;bottom:50px;width:100%;}

.videoList ul li{border-top:1px solid #42444d;}
.videoList ul li a{display:block;}
.videoList ul li a:after{content:"";display:block;clear:both;}
.videoList .thumb{position:relative;width:50%;display:block;float:left;}
.videoList .thumb img{width:100%;vertical-align:top;}
.videoList .thumb .playBtn{position:absolute;left:50%;top:50%;width:25px;height:25px;display:block;background:url("../../images/icon/icon_video_play.png") no-repeat 0 0;background-size:25px;margin:-12px 0 0 -12px;}
.videoList .txtInfo{width:50%;float:left;display:block;}
.videoList .txt{display:block;padding:8% 15px 0;line-height:1.4em;color:#fff;}
.videoList .txt em{display:inline-block;padding:0 6px;border:1px solid #fff;border-radius:4px;font-size:12px;}
.videoList .txt span{height:35px;overflow:hidden;display:block;margin-top:6px;}

.photoArea{margin-bottom:68px;}
.photoArea p{padding:10px;line-height:1.6em;color:#fff;font-size:12px;}
.photoArea img{width:100%;vertical-align:top;margin-top:5px;}
.photoArea img:first-child{margin-top:0;}

.btnwrap{position:fixed;left:0;top:50%;width:100%;max-width:640px;margin-top:-22px;}
.btnwrap:after{content:"";display:block;clear:both;}
.btnwrap a{width:22px;height:44px;display:block}
.btnwrap .prev{float:left;background:url("../../images/btn/btn_prev.png") no-repeat 0 0;background-size:22px;}
.btnwrap .next{float:right;background:url("../../images/btn/btn_next.png") no-repeat 0 0;background-size:22px;}

.gameTab{border-bottom:1px solid #ccc;}
.gameTab ul:after{content:"";display:block;clear:both;}
.gameTab ul li{width:23.33333333333333%;float:left;box-sizing:border-box;border-left:1px solid #ccc;}
.gameTab ul li:first-child{width:30%;border-left:0;}
.gameTab ul li a{height:35px;display:block;text-align:center;background:#f5f5f5;}
.gameTab ul li span{display:block;padding-top:9px;line-height:1.4em;color:#041e3f;font-size:12px;}
.gameTab ul li.on + li{border-left:0;}
.gameTab ul li.on a{background:#000;}
.gameTab ul li.on span{color:#fff;}

.gameNav{position:relative;height:45px;text-align:center;}
.gameNav .date{display:inline-block;margin-top:11px;line-height:1.4em;text-decoration:underline;color:#dd3497;font-weight:bold;font-size:15px;}
.gameNav a{position:absolute;top:10px;width:25px;height:25px;display:block;border:1px solid #e1e1e1;border-radius:50%;}
.gameNav a.prev{left:10px;background:url("../../images/icon/icon_game_prev.png") no-repeat center center;background-size:6px;}
.gameNav a.next{right:10px;background:url("../../images/icon/icon_game_next.png") no-repeat center center;background-size:6px;}

.gameResult{background:#f5f5f5;padding:15px 0;text-align:center;}
.gameResult .title{display:inline-block;padding:5px 40px;background:#041e3f;border-radius:16px;color:#fff;font-size:12px;}
.gameResult .title em{display:block;line-height:1.4em;}
.gameResult .gameScore{padding:0 28px;text-align:center;margin-top:10px;}
.gameResult .gameScore:after{content:"";display:block;clear:both;}
.gameResult .team{width:29%;display:inline-block;}
.gameResult .team img{width:98%;vertical-align:top;}
.gameResult .team.left{float:left;}
.gameResult .team.right{float:right;font-weight:bold;}
.gameResult .score{display:inline-block;margin-top:12%;color:#dd3497;font-size:18px;font-weight:bold;}

/* 팀순위 */
.teamRank ul:after{content:"";display:block;clear:both;}
.teamRank ul li{
	width:33%;float:left;padding:12px 0;text-align:center;background:#fafafa;
	border-left:1px solid #eee;border-right:1px solid #eee;border-bottom:1px solid #eee;box-sizing:border-box;
}
.teamRank ul li:nth-child(1),
.teamRank ul li:nth-child(2),
.teamRank ul li:nth-child(3){margin-bottom:0.5%;}
.teamRank ul li:nth-child(2),
.teamRank ul li:nth-child(5){margin-left:0.5%;margin-right:0.5%;}
.teamRank .rank{display:block;}
.teamRank .team{width:40%;display:inline-block;margin-top:4px;}
.teamRank .team img{width:100%;vertical-align:top;}
.teamRank p{margin-top:6px;}
.teamRank p span{display:block;font-size:12px;}
.teamRank p span:first-child{margin-bottom:5px;color:#999;}

/* 선수순위 */
.playerRank ul:after{content:"";display:block;clear:both;}
.playerRank ul li{
	width:33%;float:left;padding:12px 0;text-align:center;background:#fafafa;
	border-left:1px solid #eee;border-right:1px solid #eee;border-bottom:1px solid #eee;box-sizing:border-box;
}
.playerRank ul li:nth-child(1),
.playerRank ul li:nth-child(2),
.playerRank ul li:nth-child(3),
.playerRank ul li:nth-child(4),
.playerRank ul li:nth-child(5),
.playerRank ul li:nth-child(6){margin-bottom:5px;}
.playerRank ul li:nth-child(2),
.playerRank ul li:nth-child(5),
.playerRank ul li:nth-child(8){margin-left:0.5%;margin-right:0.5%;}
.playerRank .rank{display:block;}
.playerRank .team{width:53.1%;overflow:hidden;display:inline-block;background:#fff;border-radius:50%;margin-top:8px;}
.playerRank .team img{width:77%;vertical-align:top;}
.playerRank p{margin-top:8px;}
.playerRank p span{display:block;font-size:12px;}
.playerRank p span:last-child{margin-top:5px;color:#999;}
p.tip{padding-left:5px;letter-spacing:-1px;color:#999;font-size:12px;}

.reportArea{position:relative;height:125px;padding:0 0;text-align:center;}
.reportArea:after{content:"";display:block;clear:both;}
.reportArea .team{position:absolute;top:25px;width:75px;height:75px;line-height:75px;overflow:hidden;display:inline-block;background:#fafafa;border:1px solid #ccc;border-radius:50%;}
.reportArea .team img{width:84%;vertical-align:middle;}
.reportArea span{display:inline-block;margin-top:54px;}
.reportArea .team.left{left:40px;}
.reportArea .team.right{right:40px;}
.btn01{width:110px;height:25px;display:inline-block;background:#dd3497;}
.btn01 span{display:block;padding-top:5px;color:#fff;font-size:12px;}
.btn01 span img{width:4px;}

.layerpop{width:300px;position:absolute;left:50%;top:30px;z-index:3000;margin-left:-150px;background:#fff;display:none;}
.layerpop .title{padding:0 0 0 15px;background:#dd3497;color:#fff;font-size:12px;}
.layerpop .title:after{content:"";display:block;clear:both;}
.layerpop .title img{width:16px;}
.layerpop .title em{float:left;margin-top:11px;}
.layerpop .title a{float:right;}
.layerpop .title .closeBtn{width:35px;height:35px;background:url("../../images/icon/icon_gnb_close.png") no-repeat center center;background-size:14px}

.selectTeam ul:after{content:"";display:block;clear:both;}
.selectTeam ul li{width:50%;float:left;text-align:center;border-top:1px solid #eee;border-left:1px solid #eee;box-sizing:border-box;}
.selectTeam ul li a{display:block;padding:20px 0;}
.selectTeam ul li span{display:block;}
.selectTeam ul li img{width:75px;vertical-align:top;}
.selectTeam ul li:nth-child(1),
.selectTeam ul li:nth-child(3),
.selectTeam ul li:nth-child(5){border-left:0;}
.selectTeam ul li:nth-child(1),
.selectTeam ul li:nth-child(2){border-top:0;}

.pushList{border-bottom:1px solid #eee;}
.pushList ul li{height:55px;padding:0 16px;border-top:1px solid #eee;}
.pushList ul li:after{content:"";display:block;clear:both;}
.pushList ul li:first-child{border-top:0;background:#f5f5f5;color:#000;}
.pushList ul li span,
.pushList ul li em{line-height:1.4em;display:inline-block;}
.pushList ul li span{float:left;margin-top:20px;}
.pushList ul li em{float:right;margin-top:16px;}
.pushList input[type="checkbox"]{width:50px;height:25px;overflow:hidden;display:inline-block;background:url("../../images/icon/icon_push.png") no-repeat 0 0;background-size:50px;-webkit-appearance:none;border:0;}
.pushList input[type="checkbox"]:checked{background-position:0 -25px;}
.pushList ul li.on{background:#fafafa;}

/* 경기일정 */
.tables01{border:1px solid #eee;}
.tables01 table tbody tr td{padding:6px 0;font-size:12px;border-top:1px solid #eee;border-left:1px solid #eee;}
.tables01 table tbody tr:nth-child(odd){background:#fafafa;}
.tables01 table tbody tr:first-child td{border-top:0;}
.tables01 table tbody tr td:first-child,
.tables01 table tbody tr td:last-child{text-align:center;border-left:0;}
.tables01 table tbody tr td img{width:28px;vertical-align:middle;margin-right:5px;}
.tables01 table tbody tr td ul li{line-height:1.4em;}
.tables01 table tbody tr td ul.team li{padding-left:20px;}
.tables01 table tbody tr td ul.result li{color:#dd3497;}
.tables01 table tbody tr td ul.result li:last-child{margin-top:8px;}

.tables02{border-bottom:1px solid #eee;}
.tables02 table thead tr th,
.tables02 table tbody tr td{padding:10px;text-align:center;}
.tables02 table thead tr th{border-left:1px solid #fff;font-weight:normal;background:#11529c;color:#fff;}
.tables02 table thead tr th:first-child{border-left:0;}
.tables02 table tbody tr td{border-left:1px solid #eee;border-top:1px solid #eee;}
.tables02 table tbody tr td:first-child{border-left:0;}
.tables02 table tbody tr:nth-child(odd) td{background:#fafafa;}
.tables02 table tbody tr:last-child td{color:#dd3497;}

.tables03{border-bottom:1px solid #eee;}
.tables03 table thead tr th,
.tables03 table tbody tr td{padding:10px;text-align:center;}
.tables03 table thead tr th{border-left:1px solid #fff;font-weight:normal;background:#11529c;color:#fff;}
.tables03 table thead tr th:first-child{border-left:0;}
.tables03 table thead tr th{border-right:1px solid #bbb;}
.tables03 table tbody tr td{background:#fafafa;border-left:1px solid #eee;border-top:1px solid #eee;border-right:1px solid #bbb;}
.tables03 table tbody tr:last-child td{background:#f3f6f8;}
.tables03 table tbody tr td a{display:block;text-decoration:underline;}

.tables04{border-bottom:1px solid #eee;}
.tables04 table thead tr th,
.tables04 table tbody tr td{padding:10px;text-align:center;}
.tables04 table thead tr th{border-left:1px solid #fff;font-weight:normal;background:#11529c;color:#fff;}
.tables04 table thead tr th:first-child{border-left:0;}
.tables04 table tbody tr td{background:#fafafa;border-left:1px solid #eee;border-top:1px solid #eee;border-right:1px solid #eee;}
.tables04 table tbody tr:last-child td{background:#f3f6f8;}

.tables05{border-bottom:1px solid #eee;}
.tables05 table thead tr th,
.tables05 table tbody tr td{padding:10px;}
.tables05 table thead tr th{border-left:1px solid #fff;font-weight:normal;background:#11529c;color:#fff;}
.tables05 table thead tr th:first-child{border-left:0;}
.tables05 table thead tr th{border-right:1px solid #bbb;}
.tables05 table tbody tr td{border-left:1px solid #e2e2e2;border-top:1px solid #e2e2e2;border-right:1px solid #bbb;}
.tables05 table tbody tr td span{display:block;}
.tables05 table tbody tr td em{text-decoration:underline;}
.tables05 table tbody tr td a{text-decoration:underline;}
.tables05 table tbody tr:nth-child(odd) td{background:#fafafa;}

.tables06{border-bottom:1px solid #eee;}
.tables06 table tbody tr td{padding:10px;text-align:center;}
.tables06 table thead tr th{border-left:1px solid #fff;font-weight:normal;background:#11529c url("../../images/icon/icon_th_off.png") no-repeat center 25px;background-size:6px;}
.tables06 table thead tr th a{padding:6px 0 14px;display:block;color:#fff;}
.tables06 table thead tr th.on{background:#11529c url("../../images/icon/icon_th_on.png") no-repeat center 25px;background-size:6px;}

.tables06 table thead tr th:first-child,
.tables06 table tbody tr td:first-child{border-left:0;}
.tables06 table tbody tr td{border-left:1px solid #e2e2e2;border-top:1px solid #e2e2e2;border-right:1px solid #e2e2e2;}
.tables06 table tbody tr:nth-child(odd) td{background:#fafafa;}
.tables06 table tbody tr td.on{background:#ededed !important;}

.tables07{border-bottom:1px solid #eee;}
.tables07 table thead tr th,
.tables07 table tbody tr td{padding:10px;text-align:center;}
.tables07 table thead tr th{border-left:1px solid #fff;font-weight:normal;background:#11529c;color:#fff;}
.tables07 table thead tr th:first-child{border-left:0;}
.tables07 table tbody tr td{border-left:1px solid #eee;border-top:1px solid #eee;}
.tables07 table tbody tr td:first-child{border-left:0;}
.tables07 table tbody tr:nth-child(odd) td{background:#fafafa;}
.tables07 table tbody tr td span{text-decoration:underline;}
.tables07 table tbody tr td a{text-decoration:underline;}
.tables07 table tbody tr td.on{color:#dd3497;}

.scrollTable{position: relative;overflow:hidden;}
.scrollTable:after{content:"";display:block;clear:both;}
.scrollTable .t_left{position:absolute;left:0;top:0;}
.scrollTable .t_right{position:relative;}